.video__item_observ::after{
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    display:flex;
    content: " ";
    opacity: .5;
    background-color: #000;
    border-radius: 5px;
}
.video__item_observ{
    background-image: url(../../../../../images/observatory.jpg);
}
@media screen and (max-width:980px){
    .video__item_observ{
        background-position: center center;
    }
}