.comments__container {
    justify-content: space-between;
    display: flex;
    max-width: 1184px;
    margin: 0 auto 0;
}
@media screen and (min-width:767px) and (max-width:1280px){
    .comments__container{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media screen and (max-width: 768px){
    .comments__container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}