@import url(../header/__lang/_active/header__lang_active.css);
@import url(../header/__lang/header__lang.css);

.header{
  padding-top: 30px;
  padding-bottom: 48px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1182px; 
}
@media screen and (max-width: 1024px) {
  .header {
      width: 90%;
  }
}
@media screen and (max-width:768px) {
  .header {
      width: 93%;
  }
}
@media screen and (max-width:375px) {
  .header {
      width: 91%;
  }
}