.cover__title {
    margin: 274px auto 0 auto;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}
@media screen and (max-width:1024px){
    .cover__title {
      margin-top: 211px;
      max-width: 550px;
  }
  }
  @media  screen and (max-width:768px){
    .cover__title{
        margin-top: 165px;
        margin-bottom: 45px;
    }
}
@media screen and (max-width:620px){
    .cover__title{
        max-width: 350px;
        font-size: 48px;
        line-height: 52px;
    }
}
  @media screen and (max-width: 375px){
      .cover__title{
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 7px;
        margin-top: 104px;
      }
  }
  @media screen and (max-width:320px){
      .cover__title{
      margin-top: 64px;
      }
  }
