.video__item-title{
  position: relative;
  width: 322px;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  margin-top: 12px;
  margin-bottom: 18px;
  margin-left: 30px;
  color: #FFFFFF;
  z-index: 1;
}
@media screen and (max-width:980px){
  .video__item-title{
    font-size: 24px;
    line-height: 26px;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: 24px;
  }
}
@media screen and (max-width:360px){
  .video__item-title{
    max-width: 280px;
    margin-bottom: 2px;
    margin-left: 16px;
   
  }
}