@import url(../cover/__link/cover__link.css);
@import url(../cover/__subtitle/cover__subtitle.css);
@import url(../cover/__title/cover__title.css);
.cover {
    max-width: 1184px;
    margin: 102px auto 102px auto;
}
@media screen and (max-width:560px){
   .cover{
       max-width: 560px;
    margin: 62px auto 82px auto;
   }
}
